# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\e_learning\E_learning_web-main\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
